$primary:         #0766C8;
$primary-light:   #2384E8;
$green:           #0AC5C4;
$yellow:          #F8C469;
$red:             #E9506E;

$avatar-01:       #44CBCB;
$avatar-02:       #76A6FF;
$avatar-03:       #FD84D9;
$avatar-04:       #EFAD59;

$gray-dark:       #141514;
$gray-mind:       #38383E;
$gray-light:      #B8BCBC;
$gray-shallow:    #D8D8D8;

$bluegray:        #658091;
$bluegray-shallow:#E7EAF0;
