$primary:          #4362DC;
$secondary:        #18C757;
$secondary-light:  #27DC68;
$status-active:    #53E5FF;
$status-delinquent:#27DC68;
$status-dropped:   #F9C948;

$avatar-01:       #44CBCB;
$avatar-02:       #76A6FF;
$avatar-03:       #FD84D9;
$avatar-04:       #EFAD59;

$gray-dark:       #141514;
$gray-mind:       #38383E;
$gray-light:      #B8BCBC;
$gray-shallow:    #D8D8D8;

$bluegray:        #658091;
$bluegray-light:  #C0CBD9;
$bluegray-shallow:#E7EAF0;
